.break {
    clear: both;
}
.schedule-handler {
    cursor: pointer;
}
div#schedule-dialog-container .object-left {
    width: 43%;
    float: left;
    clear: left;
}
div#schedule-dialog-container .object-right {
    width: 54%;
    float: right;
    clear: right;
}
div#schedule-dialog-container .block {
    margin-bottom: 1em;
}
div#schedule-dialog-container label {
    display: block;
    text-align: left;
}
div#schedule-dialog-container .element {
}
div#schedule-dialog-container .schedule-dialog-input {
    width: 10em;
}
div#shedule-calendar-container {
    border: none;
}