body
{
    padding: 0pt;
    margin: 0pt;
    color: #000000;
    font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
    width:100%;
    padding: 0pt;
    margin: 0pt;
    background-color: #000000;
    background-image: none;
    font-size: 1.0em;
    text-align: left;
}

div#page
{
    margin: 0;
    padding: 3px 0px 3px 0px;
    -webkit-tap-highlight-color: #000000;
}

div.block-type-mainstory div.trans-background
{
    width: 302px;
}

div.block-type-mainstory div.attribute-link
{
    width: 282px;
}

div#nav-menu
{
    padding: 3px;
    background-color: #FFF;
    margin: 3px 3px 0 3px;
}

p#nav-menu-handler
{
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

div#nav-menu-items
{
    border-top:1px solid rgb(217,217,217);
}

div#nav-menu-items ul
{
    width:100%;
    font-family: Helvetica;    
    list-style-type:none;
    margin:0px;
    padding: 0px;
}

div#nav-menu-items ul li
{
    list-style-type: none;
    border-bottom:1px solid rgb(217,217,217);
    line-height: 20px;
    padding: 5px 10px 9px 10px;
    background-image:url("../images/disclosure.png");
    background-repeat: no-repeat;
    background-position: right; 
}

div#nav-menu-items ul li:first-child
{
    border-top:0px
}

div#main
{
    margin: 0;
}

div#logo
{
    padding: 3px;
    background-color: #FFF;
    margin: 0px 3px;
    float: none;
}

div#logo a.mobile-logo
{
    display: block;
    height: 39px;
    width: 154px;
    background-image: url(../images/iphone-site-logo.png);
}

a
{
    color: #000000;
    text-decoration: none;
}

a:hover 
{
    color: #000000;
    text-decoration:none;
}

a.button:hover 
{
    color: #FFFFFF;
    text-decoration:none;
}

a:active 
{
    color: #000000;
}

a h1
{
    color: #000000;
    text-decoration: none;
}

h1, div.attribute-header h1
{
    font-size: 1.3em;
    background: none;
}

h2
{
    font-size: 1.1em;
    margin-bottom: 5px;
}

ul li
{
    line-height: 20px;
    background-position:0pt 0.59em;
}

p, ul li
{
    margin-top: 5px;
    font-size: 0.8em;
}

.float-break
{
    height: 1%;
}


/* MAIN LAYOUT OVERRIDES */
div.maincol-position 
{
    clear: both;
    float: none;
}

div.zone-layout-2zoneslayout1 div.leftcol-position 
{
    margin-left: 0px;
    width: 100%;
}

div.zone-layout-2zoneslayout1 div.content-columns {
    padding: 0px;
}

div.block-style1-box-inside div.border-content
{
    padding: 0px;
}

div.columns-two div.col-1, div.columns-two div.col-2, div.columns-three div.col-1-2, div.columns-three div.col-1, div.columns-three div.col-2, div.columns-three div.col-3, div.columns-four div.col-1-2, div.columns-four div.col-1, div.columns-four div.col-2, div.columns-four div.col-3-4, div.columns-four div.col-3, div.columns-four div.col-4 
{
    float: none;
}

div.columns-two div.col-2 div.col-content 
{
    margin-left: 0px;
}    

div.columns-two, div.columns-three div.col-1-2, div.columns-four, div.columns-four div.col-1-2, div.columns-four div.col-3-4 
{
    padding-right:0px;
}

div.block-type-gallery div.block div.left
{
    float: none;
    width: 100%;
}

div.columns-three
{
padding-right: 0px;
}

div#footer address, div#footer address a
{
    color: #000;
}

div.content-view-full div.class-gallery div.content-view-galleryline div.attribute-name 
{
    display: none;
}

div.content-view-full div.class-gallery div.content-view-galleryline 
{
    border: none;
    margin: 0px;
    padding: 0px;
    padding-right: 2px;
    padding-bottom: 2px;
}

div.extrainfo-column-position 
{
    float: none;
}

div.extrainfo-column-position {
    clear:both;
    float:left;
    margin-right: 0px;
    width:100%;
}

div.columns-blog div.main-column
{
    margin: 0px;
}

div.columns-blog
{
    padding: 0px;
}

/* --------------- */

div#full-version-link
{
    float: right;
    padding-top: 5px;
    font-size: 10px;
}

.button
{
    color: #000000;
    margin-top: 10px;
}

/* --------------- */

div#footer 
{
    width: 100%;
}

div#footer a
{
    text-decoration: underline;
}

div.page-view-type span.mobile-site
{
    font-weight: bold;
}

div.attribute-header
{
    margin-top: 10px;
    margin-bottom: 4px;
    padding-bottom: 0px;
}

div.attribute-header h1
{
    padding: 0px;
    margin: 0px;
    padding-top: 1px;
}

div.class-article div.attribute-header h2
{
    background-image: url( ../images/red_arrow.gif );
    background-position:left 5px;
    background-repeat:no-repeat;
    padding-left:16px;
}

div.class-article
{
    clear: both;
    margin-bottom: 15px;
}

div.class-article div.attribute-image, div.block-type-gallery div.attribute-image
{
    float: left;
    clear: left;
    padding-right: 8px;
    padding-top: 2px;
}

div.block-type-gallery
{
    margin: 10px 0px;
}

div.block-type-gallery a.gallery-image
{
    clear: both;
    display: block;
    padding: 3px 0px;
}

div.class-article div.attribute-short p
{
    padding-top: 2px;
}

div.attribute-byline
{
    font-size: 0.85em;
}

div.content-view-full div.attribute-byline, div.content-view-full div.class-article div.attribute-byline 
{
    margin-top: 1em;    
    padding-top: 0.5em;
    border-top: 1px dotted #333333;
    padding-bottom: 0.5em;
    background-image: none;
}

div.attribute-byline p.author 
{
    clear:right;
    float:right;
}

div.attribute-byline p 
{
    margin: 0pt 0pt 0.5em;
}

div.attribute-byline p.date 
{
    clear:left;
}

a.button
{
    float: left;
    margin-right: 14px;
}

/* Next/Prev navigation */

div.content-navigator 
{
    display:block;
    margin-bottom: 0.5em;
    font-size: 12px;
}

div.content-navigator div
{
    display:inline;
}

div.content-navigator div.content-navigator-separator, div.content-navigator div.content-navigator-separator-disabled 
{
    padding-left:4px;
    padding-right:4px;
}

div.content-navigator div.content-navigator-arrow 
{
    font-size:120%;
}

div.pagenavigator 
{
    clear:both;
    text-align:center;
}

div.pagenavigator span.previous 
{
    float:left;
}

div.pagenavigator span.next 
{
    float:right;
}

/* misc overrides */

div.content-view-full div.class-article div.attribute-long, div.content-view-full div.class-gallery div.content-view-children 
{
    background: none;
    background-color: #FFFFFF;
}

div.content-view-full div.class-gallery div.content-view-children 
{
    padding: 0;
    float: none;
}

div.poll-result td.poll-resultbar table 
{
    width: 200px;
}

div.border-box
{
    margin-bottom: 0;
}


div.content-view-full div.class-article div.attribute-image, div.content-view-line div.class-article div.attribute-image
{
    margin-top: 0px;
    margin-left: 0px;
}

div.content-view-full div.class-article div.attribute-long
{
    padding-bottom: 0px;
}

input.button
{
    background-image: none;
    margin:1.25em 0pt;
    color: #000000;
    border: none;
}

/* New overrides */

/* ---- */

.dailyPhoto 
{ 
    margin-bottom: 14px; 
    position: relative; 
}

.dailyPhoto p
{
    font-size: 1em;
}

.dailyPhoto .head 
{ 
    height: 33px; 
}
.dailyPhoto .head .kL 
{ 
    font-size: 11px; 
    color: #1e344f; 
    text-transform: uppercase; 
    padding: 6px 6px 4px; 
}

.dailyPhoto .head .kR 
{ 
    padding: 9px 24px 1px 0; display: none; 
}
.dailyPhoto .head .kR a { border: 1px solid #7cb8ff; background: #fff; display: block; float: left; overflow: hidden; width: 9px; height: 9px; margin-left: 4px; }
.dailyPhoto .head .kR a.sel { border: 1px solid #7cb8ff; background: #7cb8ff; display: block; float: left; overflow: hidden; width: 9px; height: 9px; margin-left: 4px; }
.dailyPhoto .content div { position: absolute; bottom: 0px; left: 0px; width: 314px; height: 194px; }
.dailyPhoto .content { margin: 0 6px 0 0px; width: 314px; height: 194px; overflow: hidden; position: relative; background: #000; }
.dailyPhoto .content div div { position: absolute; left: 0px; bottom: 0px; height: 38px; width: 279px; padding-left: 13px; line-height: 15px; color: #fff; font-weight: bold; display: table !important; display: block;  }
.dailyPhoto div.bg 
{ 
    position: absolute; 
    left: 0px; 
    bottom: 0px; 
    height: 38px; 
    width: 314px; 
    line-height: 15px; 
    color: #fff; 
    background: #000; 
    font-weight: bold; 
    display: table !important; 
    display: block; 
}

.dailyPhoto a, .dailyPhoto a:visited, .dailyPhoto a:hover 
{ 
    color: #fff; 
    display: table-cell !important; 
    display: inline; 
    vertical-align: middle; 
}

.dailyPhoto .captions 
{ 
    position: relative; 
    left: 10px; 
    bottom: 22px; 
    height: 1%; 
    width: 276px; 
    color: #fff; 
    font-weight: bold; 
    z-index: 5; 
}

.dailyPhoto .captions div 
{ 
    margin-left: 0; 
    padding-left: 5px; 
    position: absolute; 
    height: 38px;
    width: 276px;
    display: table !important; 
    display: block; 
    font-size: 12px;
    top: -8px;
}

.dailyPhoto .captions div.hidden { position: absolute; top: 0px; left: 0px; width: 276px; height: 38px; padding-left: 15px; display: none !important; display: none; }


.ibutton a
{
    color: #FFFFFF;
}

.ibutton, #backbutton, #frontpagebutton
{	
	font-size: 16px;
	font-weight: bold;
	font-family: Heveltica;
	display: block;		    
    line-height: 38px;   	
	width: 74px;			
	text-decoration: none;
	text-align: center;
	margin: 0px 0px;
}

.blue
{
  margin: 3px auto;
  color: white;
  text-shadow: #000 0px 1px 1px;
  border-width: 0 14px 0 14px;     
  -webkit-border-image:url( ../images/bluebutton.png ) 0 14 0 14;  
}

#frontpagebutton
{
}

#backbutton
{
    width: 40px;
}

#backbutton a, #frontpagebutton a
{
    color: white;    
}

#navigation-buttons div.object-right, #navigation-buttons div.object-left
{
    margin: 0px;
    padding: 0px;
}
